<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dao.mobile.artifact.common">

    <uses-sdk tools:overrideLibrary="android_libs.ub_uiautomator"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>

    <application>
        <activity
            android:name=".helper.ActivityPermissionTest"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
